html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    margin-bottom: 160px;
}

* { 
    box-sizing: border-box;
}

#search-bar {
    width: 300px;
}

.custom-container {
    width: 90%;
    
    margin: 0 auto;
    padding: 0;
}

.categories {
    /* width: 25%; */
    text-align: center;
}

.footer { 
    background-color: #3d3d3d;
}

.footer-copyright {
    background-color: #232323 !important;
}

/* Product cards */

.card-img>img {
    /* object-fit: cover; */
    max-width: 100%;
    max-height: auto;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 200px;
    margin: 0 auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.card:hover {
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}

.card-name {
    margin: 10px;
}

.card-description {
    margin: 10px;
}

.card-price { 
    color: grey;
    font-size: 16px;
}

.add-to-card {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

.add-to-card:hover {
    opacity: 0.7;
}

/* Slideshow */

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: 0 auto;
}

.slide-box {
    width: 1000px;
    height: 200px;
    margin: 0 auto;
}

.slideshow-card {
    width: 100px;
}

.slideshow-card>.card-body>.card-text {
    font-size: 12px;
}

.product-created-date {
    font-style: italic;
    font-size: 14px;
}

.product-image {
    height: 100%;
    width: 100%;
}

 #parent-div {
    overflow: hidden;
 }

.left-section{
    height: 100%;
    width: 100%;
}  

.product-image>img {
    position: absolute;
    top: 0; 
    bottom: 0;
    margin: auto;
    max-width: 95%;
    max-height: auto;
    display: block;
    box-shadow: 0 0 10px grey;
}

.product-description {
    padding-top: 15px;
    font-size: 14px;
  }

.product-name {
    padding: 0 0 10px 0;
    text-align: left;
    font-size: 24px;
    font-family: Constantia, sans-serif;
    color: darkslategrey;
  }


.product-category>a {
    display: inline;
    font-size: 14px;
    font-weight: bold;
}

.product-price>span {
    color: darkslategrey;
    font-size: 26px;
}

#amount {
    width: 35px;
    height: 35px;
    text-align: center;
}

.product-author-label {
    font-weight: bold;
}

.product-author {
    text-decoration: none;
    font-style: italic;
}

.product-author:hover {
    text-decoration: none;
}

#read {
    position: absolute;
    top: 0; 
    bottom: 0;
    margin: auto;
    max-width: 95%;
    height: 40px;
    display: block;
}

.form-container {
    width: 50%;
    margin: auto;
}

.info-card {
    padding: 5px 5px 5px 5px;
    width: 50%;
    height: 100%;
    display: block;
    margin: auto;
    background-color: white;
    box-shadow: 0 0 2px rgba(0,0,0,0.8);
    border-radius: 2px;
}

.field-label {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.field-value {
    font-family: Arial, Helvetica, sans-serif;
}

.bio {
    font-family: Georgia, 'Times New Roman', Times, serif;
}