

body {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

* { 
    box-sizing: border-box;
}

#search-bar {
    width: 300px;
}

.custom-container {
    width: 90%;
    
    margin: 0 auto;
    padding: 0;
    /* background-color: lightgray; */
}

.categories {
    /* width: 25%; */
    text-align: center;
}

.product-price {
    font-weight: bold;
    color:#5b5b5b; 
}

.product-card:hover {
    border: 1px solid #167bff;
}

.footer { 
    background-color: #3d3d3d;
}

.footer-copyright {
    background-color: #232323 !important;
}

/* Product cards */

.card-img>img {
    /* object-fit: cover; */
    max-width: 100%;
    max-height: auto;
}

.card-img {
    /* width: 100%; */
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 200px;
    margin: 0 auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.card:hover {
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}

.card-name {
    margin: 10px;
}

.card-description {
    margin: 10px;
}

.card-price { 
    color: grey;
    font-size: 16px;
}

.add-to-card {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

.add-to-card:hover {
    opacity: 0.7;
}

/* Slideshow */

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}


/* .slideshow-slide {
    display: none;
} */

.slide-box {
    width: 1000px;
    height: 200px;
    margin: 0 auto;
}

.slideshow-card {
    width: 100px;
}

.slideshow-card>.card-body>.card-text {
    font-size: 12px;
}

.prev, .next {
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  .prev:hover, .next:hover {
      opacity: 0.7;
  }

/* Fading animation */

.fade-effect {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }